<html>

<head>
    <title>Pizzaria Pomodoro</title>      
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.11.4/sweetalert2.min.js"></script>
    <!--link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.11.4/sweetalert2.css" /-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!--script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script-->
    <link rel="stylesheet" href="bootstrap-social/bootstrap-social.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
    <div id="pizzaria">
        <nav class="navbar navbar-expand-md navbar-dark md-4" style="background-color: #161b22">
            <a class="navbar-brand" href="/">
                <img title="Pizzaria Pomodoro" src="img/pizzaria.png" alt="Pizzaria Pomodoro">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item active">
                        <a class="nav-link" href="/"><i class='fas fa-house-user'
                                style='font-size:20px;color:white'></i>&nbsp;&nbsp;Home</a>
                    </li>

                    <li class="nav-item active dropdown ">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                            data-toggle="dropdown" arial-labelledby="navbarDropdown"><i style="font-size:22px"
                                class="fas fa-clipboard-list"></i>&nbsp;&nbsp;Cardápio</a>                                
                        <div class="dropdown-menu" arial-labelledby="navbarDropdown">
                            <a class="dropdown-item " href="/listar_pizzas"><i style="font-size:22px"
                                    class="fas fa-pizza-slice"></i>&nbsp;&nbsp;Pizzas</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/listar_bebidas"><i class="material-icons"
                                    style="font-size:22px">local_bar</i>&nbsp;&nbsp;Bebidas</a>
                        </div>
                    </li>

                    <li class="nav-item active">
                        <a v-if="usuario == 'admin'" class="nav-link disabled" href="#"><i style="font-size:22px"
                                class="fas fa-user-cog"></i>&nbsp;&nbsp;Usuário: {{ usuario }}</a>
                        <a v-else class="nav-link disabled" href="#"><i style="font-size:22px"
                                class="fas fa-user-alt"></i>&nbsp;&nbsp;Usuário: {{ usuario }}</a>
                    </li>

                    <li class="nav-item">
                        <button type="submit" class="btn btn-link nav-link" data-toggle="modal"
                            data-target="#myModal"><i class='fas fa-user-slash'
                                style="font-size:20px; color:white;"></i>&nbsp;&nbsp;Logout</button>
                        <div class="modal fade" id="myModal" role="dialog">
                            <div class="modal-dialog modal-md">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <p style="color: white;">Logout</p>
                                        <button type="button" style="color: white;" class="close"
                                            data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <p align="center" style="color: white;">Deseja realmente fazer Logout?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <form action="logout" method="get">
                                            <button type="submit" class="btn btn-xs btn-success"
                                                data-dismiss="">Sim</button>
                                            <button type="button" class="btn btn-xs btn-danger"
                                                data-dismiss="modal">Não</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>