</div>
<div>
    <!-- Footer -->
<footer class="page-footer font-small indigo">

  <!-- Footer Links -->
  <div class="container">

    <!-- Grid row-->
    <div class="row text-center d-flex justify-content-center pt-5 mb-3">

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!">About us</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!">Products</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!">Awards</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!">Help</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!">Contact</a>
        </h6>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

    <div class="dropdown-divider"></div>

    <!-- Grid row-->
    <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">

      <!-- Grid column -->
      <div class="col-md-8 col-12 mt-5">
        <p style="line-height: 1.7rem">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          accusantium doloremque laudantium, totam rem
          aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
          explicabo.
          Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.</p>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

    <div class="dropdown-divider"></div>

    <div align="center" style="padding: 20px">
        <a href="https://twitter.com/Randel35251132" class="btn btn-social-icon btn-twitter">
            <span class="fa fa-twitter"></span>
         </a>

         <a href="https://www.facebook.com/randel.souza.7" class="btn btn-social-icon btn-facebook">
             <i class="fa fa-facebook-f"> </i>
        </a>

        <a href="https://br.yahoo.com/" class="btn btn-social-icon btn-yahoo">
            <i class="fa fa-yahoo" aria-hidden="true"></i>
        </a>

        <a href="https://github.com/RandelSouza" class="btn btn-social-icon btn-github">
           <i class="fa fa-github" aria-hidden="true"></i>
        </a>

        <a href="https://www.google.com/gmail/" class="btn btn-social-icon btn-google">
            <i class="fa fa-google" aria-hidden="true"></i>
        </a>

        <a href="https://www.instagram.com/randell_souza/" class="btn btn-social-icon btn-instagram">
            <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>

        <a href="https://slack.com/intl/pt-br/" class="btn btn-social-icon btn-slack" style="background-color: purple">
            <i class="fa fa-slack" aria-hidden="true"></i>
        </a>

        <a href="https://trello.com/" class="btn btn-social-icon btn-trello" style="background-color: blue">
            <i class="fa fa-trello" aria-hidden="true"></i>
        </a>

        <a href="https://youtube.com" class="btn btn-social-icon btn-google" >
            <i class="fa fa-youtube" aria-hidden="true"></i>
        </a>

    </div>

  <div class="footer-copyright text-center py-3 ">© 2019 Copyright:
    <a href="http://github.com/RandelSouza">github.com/RandelSouza</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
<style>
    .indigo {
        /*background-color: #563d7b;*/
        background-color: black;
    }
    .indigo p{
        color: #efefef;
    }
    .indigo a{
        color: #efefef;
    }
    #pizzaria {
        background-color: #9C27B0;
        color: white;
    }
    #pizzaria .nav-item p{
        color: black;
    }
</style>
<style>
    body{
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        text-align: left;
        background-color: #343a40;
    }

    .navbar {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 0.5rem 1rem;
    }

    .carousel-inner h5{
        color: black;
        font-size: 50px;
        font-weight: bold;
    }
    .carousel-inner p{
        color: black;
        font-size: 35px;
        font-weight: bold;
    }
</style>
</div>
</body>
</html>
