<% include partials/cabecalho %>
<h1 align="center">{{ titulo }}</h1>
<div class="container">
    <div align="justify" style="margin-top: 50px; margin-bottom: 50px;">   
    <form class="" action="adicionar_pizza" method="POST">
        
        <div>
            <input type="text" name="nome" value="" required="true">
            <label>Nome</label>
        </div>
        
        <div class="inputBox">
            <input type="number" name="preco" value="" required="" placeholder="1.0" step="0.01" min="0">
            <label>Preço</label>
        </div>

        <div class="inputBox">
            <textarea required="" name="descricao" rows="4" cols="50">
            </textarea>
            <label>Descrição</label>
        </div>

        <!--div class="inputBox">
            <input type="text" name="descricao" value="" required="">
            <label>Descrição</label>
        </div-->

        <input type="submit" name="" value="Adicionar Pizza">
      </form>     
    </div>
</div>

<script>
	var app = new Vue({
	  el: '#pizzaria',
	  data: {
		  titulo: 'Cardápio de Pizzas',
          usuario: '',
          random: Math.floor(Math.random() * 10)
	  },
	  methods:{
	  },
	  mounted:() => {
	  	axios.get('/usuario')
		.then((response) => app.usuario = response.data)
		.catch((error) => console.log(error));
	 }
  })
 </script>

<% include partials/rodape %>
