<% include partials/cabecalho %>
<div id="pizzaria">
	<h1>{{ titulo }}</h1>
</div>

<script>
	var app = new Vue({
	  el: '#pizzaria',
	  data: {
		  titulo: 'Pizzaria Pomodoro'
	  }
  })
 </script>

<% include partials/rodape %>
