<% include partials/cabecalho %>
<div>
	<h1>{{ titulo }}</h1>
</div>

<script>
	var app = new Vue({
	  el: '#pizzaria',
	  data: {
		  titulo: 'Pizzaria Pomodoro',
		  usuario: 'teste'
	  },
	  methods:{
	  },
	  mounted:() => {
	  	axios.get('/usuario')
		.then((response) => app.usuario = response.data)
		.catch((error) => console.log(error));
	 }
  })
 </script>

<% include partials/rodape %>
