<% include partials/cabecalho %>

<h1 align="center">{{ titulo }}</h1>

<script>

</script>

<div class="container">
<div id="carouselExampleIndicators"  data-interval="10000" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
	<li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
  </ol>
  <div class="carousel-inner">
	 <div class="carousel-item active">
		 <img class="d-block w-100" src="img/pizza1.png" alt="First slide">
	  <div class="carousel-caption d-none d-md-block">
	    <h5>AMERICANA</h5>
	    <p>MOLHO DE TOMATE, MUSSARELA, BACON, CALABRESA, OVOS E CEBOLA</p>
	  </div>
	</div>

    <div class="carousel-item">
      <img class="d-block w-100" src="img/pizza2.jpg" alt="First slide">
	  <div class="carousel-caption d-none d-md-block">
	    <h5>APRESUNTADA</h5>
	    <p>MOLHO DE TOMATE, PRESUNTO E MUSSARELA</p>
	  </div>
    </div>
    <div class="carousel-item">
      <img class=" d-block w-100" src="img/pizza3.jpg" alt="Second slide">
	  <div class="carousel-caption d-none d-md-block">
	    <h5>CROCANTE</h5>
	    <p>MOLHO DE TOMATE, MUSSARELA (2 CAMADAS), CATUPIRY, BATATA PALHA (DEPOIS DE ASSADA)</p>
	  </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="img/pizza4.jpg" alt="Third slide">
	  <div class="carousel-caption d-none d-md-block">
	    <h5>MILHO</h5>
	    <p>MOLHO DE TOMATE, MUSSARELA E MILHO</p>
	  </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
	</div>

    <div align="justify" style="margin-top: 50px; margin-bottom: 50px;">
        <h1>Pizzaria Pomodoro</h1>
    	<p>Muito conhecida pelos amantes da massa, a Pizzaria Pomodorofoi inaugurada em 2005 e possui várias unidades na cidade. Seu cardápio é repleto de sabores e combinações especiais da casa. Escolhidas a dedo, 40 opções são disponíveis para o almoço ou jantar.</p>
        <p>Com exclusividade oferecem pizza “gourmet” em fatia, geralmente cinco deliciosas opções salgadas e uma opção doce para se lambuzar!</p>
        <p>O ambiente é agradável, bem familiar. Excelente para ir com amigos e família. A decoração é um charme à parte, rústica e com acessórios antigos que ajudam a ditar o tom do local, cortadores de pizzas, espátulas e outros objetos.</p>
        <p>Se tratando de pizzaria para os mineiros, o sucesso da casa não poderia ser outro, a “Quattro Formaggio”, que leva mussarela, gorgonzola, catupiry e parmesão, é de se render mesmo!</p>
        <p>Mas não é só ela que faz sucesso por lá, outra alternativa é a “Especial Pomodori”, que leva deliciosos ingredientes, mussarela de búfala, presunto, lombo canadense, champignon, palmito, tomate, pimentão e cebolas, uma verdadeira deliciosa mistura de sabores que elevam o paladar!</p>
        <p>E para acompanhar o banquete, sucos naturais, refrigerantes, vinhos e surpreendentes cervejas artesanais que combinam ainda mais seu paladar ao da culinária italiana.</p>
        <p>Rua Paraíba, 1356, Savassi</p>
        <p>Segunda a domingo, 11h30 às 0h.</p>           
        <span class="oi oi-heart">ola</span>
    </div>
    
</div>

<script>
	var app = new Vue({
	  el: '#pizzaria',
	  data: {
          pizzas: [],
		  titulo: 'Pizzaria Pomodoro',
          usuario: '',
          random: Math.floor(Math.random() * 10)
	  },
	  methods:{
	  },
	  mounted:() => {
	  	axios.get('/usuario')
		.then((response) => app.usuario = response.data)
        .catch((error) => console.log(error));
        
        axios.get('/pizzas')
		.then((response) => app.pizzas = response.data)
		.catch((error) => console.log(error));
	 }
  })
 </script>

<% include partials/rodape %>
