<% include partials/cabecalho %>



<h1 align="center">{{ titulo }}</h1>
<div class="container table-responsive-md" style="width:100%; height: 80%; overflow: auto;">
    <table border="1" class=" table-fixed table text-center  table-dark table-striped table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Descrição</th>
                <th scope="col">Preço</th>
                <th scope="col" v-if="usuario == 'admin'">Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="pizza in pizzas">
                <td width="20%">{{ pizza.nome }}</td>
                <td width="40%">{{ pizza.descricao }}</td>
                <td width="20%">R$ {{ pizza.preco.$numberDecimal }}</td>

                <td width="20%" v-if="usuario == 'admin'">
                    <div class="row" ALIGN="center">
                        <div class="col">
                            <!-- a style="width: 100%;" class="btn btn-xs btn-primary mesmo-tamanho" href="#/" v-on:click="altera_process(contato._id)">Atualizar</a-->
                            <!-- Button trigger modal -->
                            <button style="width: 100%; margin-bottom: 20px;" v-bind:id="`atualizar` + pizza._id"
                                type="button" class="btn btn-primary mesmo-tamanho" data-toggle="modal"
                                data-target="#exampleModal" v-bind:data-identificador="pizza._id"
                                v-bind:data-nome="pizza.nome" v-bind:data-preco="pizza.preco.$numberDecimal"
                                v-bind:data-descricao="pizza.descricao">
                                <i style="font-size:18px" class="fas fa-sync"></i>&nbsp;&nbsp;Atualizar
                            </button>
                        </div>
                        <div class="col" style="float: left;">
                            <button style="width: 100%;" class="btn btn-xs btn-danger mesmo-tamanho" href="#/"
                                data-toggle="modal" data-target="#exampleModalDelete"
                                v-bind:data-identificador="pizza._id" v-bind:data-nome="pizza.nome"
                                v-bind:data-preco="pizza.preco.$numberDecimal" v-bind:data-descricao="pizza.descricao">
                                <i style="font-size:18px" class="fas fa-trash-alt"></i>&nbsp;&nbsp;&nbsp;&nbsp;Deletar
                            </button>
                        </div>
                    </div>

                    <!--% include partials/modal_atualizar %-->
                </td>
            </tr>
        </tbody>
    </table>

    <% include partials/modal_adicionar %>
    <% include partials/modal_atualizar %>
    <% include partials/modal_deletar %>

</div>

<div v-if="usuario == 'admin'" align="center" style="padding-top: 20px; padding-bottom: 20px;">
    <button class="btn btn-xs btn-success mesmo-tamanho" href="#/" data-toggle="modal"
        data-target="#exampleModalAdicionar">
        <i style="font-size:22px" class="fas fa-plus"></i>&nbsp;&nbsp;Adicionar Pizza
    </button>

</div>

<script>

    const Toast = Swal.mixin({
        toast: true,
        position: 'top-end',
        showConfirmButton: false,
        timer: 1500,
        timerProgressBar: true,
        onOpen: (toast) => {
            toast.addEventListener('mouseenter', Swal.stopTimer)
            toast.addEventListener('mouseleave', Swal.resumeTimer)
        }
    })


    // Criar metodo para atualizar os dados modificados
    var app = new Vue({
        el: '#pizzaria',
        data: {
            pizzas: [],
            titulo: 'Cardápio de Pizzas',
            usuario: '',
            //random: Math.floor(Math.random() * 10)
        },
        methods: {
            atualizar_pizza: () => {
                var identificador = $('#exampleModal').find("input[name=identificador]").val().trim();
                var nome = $('#exampleModal').find("input[name=nome]").val().trim();
                var preco = $('#exampleModal').find("input[name=preco]").val().trim();
                var descricao = $('#exampleModal').find("textarea[name=descricao]").val().trim();

                var nome_placeholder = $('#exampleModal').find("input[name=nome]").attr('placeholder').trim();
                var preco_placeholder = $('#exampleModal').find("input[name=preco]").attr('placeholder').trim();
                var descricao_placeholder = $('#exampleModal').find("textarea[name=descricao]").attr('placeholder').trim();

                if (nome === nome_placeholder && preco === preco_placeholder && descricao === descricao_placeholder) {
                    Swal.fire({
                        position: 'top-center',
                        icon: 'info',
                        title: 'Nada foi modificado!!',
                        showConfirmButton: false,
                        timer: 2500
                    }).then(() => $('#exampleModal').modal('hide'));
                } else {

                    axios.post('/pizza/atualizar', {
                        id: identificador,
                        nome: nome,
                        preco: preco,
                        descricao: descricao
                    })
                        .then((response) => {
                            app.pizzas = response.data;
                        })
                        .catch((error) => {
                            console.log(error);
                        })
                        .finally(() => {
                            Swal.fire({
                                position: 'top-center',
                                icon: 'success',
                                title: 'Pizza Atualizada com Sucesso!!',
                                showConfirmButton: false,
                                timer: 2500
                            }).then(() => {
                                $('#exampleModal').modal('hide');
                                location.reload(true);
                            });
                        })
                }
                console.log('Finalizou....');
            },

            deletar_pizza: () => {
                var id = $('#exampleModalDelete').find("input[name=identificador]").val();


                Swal.fire({
                    title: 'Deseja realmente deletar essa Pizza?',
                    text: "Você não poderá reverter isso",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Sim, Deletar!'
                }).then((result) => {
                    if (result.value) {
                        axios.delete('/pizza/' + id)
                            .then((response) => app.pizzas = response.data)
                            .then(() => {
                                Swal.fire(
                                    'Pizza Deletada!',
                                    'A Pizza foi Deletada com Sucesso',
                                    'success'
                                ).then(() => location.reload(true));
                            })
                            .catch((error) => console.log(error))

                    }
                })
            },

            adicionar_pizza: () => {
                var nome = $('#exampleModalAdicionar').find("input[name=nome]").val();
                var preco = $('#exampleModalAdicionar').find("input[name=preco]").val();
                var descricao = $('#exampleModalAdicionar').find("textarea[name=descricao]").val();


                Swal.fire({
                    position: 'top-center',
                    icon: 'success',
                    title: 'Pizza Adicionada com Sucesso!!',
                    showConfirmButton: false,
                    timer: 2500
                })
                    .then(() => {
                        axios.post('/adicionar_pizza', {
                            nome: nome,
                            preco: preco,
                            descricao: descricao
                        })
                            .then((response) => app.pizzas = response.data)
                            .catch((error) => {
                                console.log(error);
                            })
                    })
                    .then(() => {
                        Toast.fire({
                            icon: 'success',
                            title: 'Reload for: ' + app.usuario
                        }).then(() => location.reload(true))

                    })



            }
        },
        mounted: () => {
            axios.get('/usuario')
                .then((response) => app.usuario = response.data)
                .catch((error) => console.log(error));

            axios.get('/pizzas')
                .then((response) => app.pizzas = response.data)
                .catch((error) => console.log(error))
        }
    });

    $('#exampleModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var identificador = button.data('identificador'); // Extract info from data-* attributes
        var nome = button.data('nome');
        var preco = button.data('preco');
        var descricao = button.data('descricao');
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this);

        //modal.find('.modal-title').text('ID ' + recipient)
        modal.find('#identificador').val(identificador);

        modal.find('#nome').attr('placeholder', nome);
        modal.find('#nome').val(nome);

        modal.find('#preco').val(preco);
        modal.find('#preco').attr('placeholder', preco);

        modal.find('#descricao').val(descricao);
        modal.find('#descricao').attr('placeholder', descricao);

        console.log('Chegou ao fim da função modal');
    });

    $('#exampleModalDelete').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var identificador = button.data('identificador'); // Extract info from data-* attributes
        var nome = button.data('nome');
        var preco = button.data('preco');
        var descricao = button.data('descricao');
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this);

        //modal.find('.modal-title').text('ID ' + recipient)
        modal.find('#identificador').val(identificador);
        modal.find('#nome').val(nome);
        modal.find('#preco').val(preco);
        modal.find('#descricao').val(descricao);
        console.log('Chegou ao fim da função modal deletar');
    }); 
</script>


<% include partials/rodape %>