<% include partials/cabecalho %>
<h1 align="center">{{ titulo }}</h1>
<div class="container table-responsive-md">
    <table border="1" class="table text-center table-borderless table-dark table-striped table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Descrição</th>
            <th scope="col">Preço</th>
            <th scope="col" v-if="usuario == 'admin'">Ações</th>           
        </tr>
    </thead>
    <tbody>
        <tr v-for="pizza in pizzas">
            <td>{{ pizza.nome }}</td>
            <td>{{ pizza.descricao }}</td>
            <td>R$ {{ pizza.preco.$numberDecimal }}</td> 
                               
            <td v-if="usuario == 'admin'">
                <div class="row" ALIGN="center"> 
                    <div class="col">
                        <a style="width: 100%;" class="btn btn-xs btn-primary mesmo-tamanho" href="#/" v-on:click="altera_process(contato._id)">Atualiza</a>                                       
                    </div>           
                    <div class="col" style="float: left;">             
                        <a style="width: 100%;" class="btn btn-xs btn-danger mesmo-tamanho" href="#/" v-on:click="deleta(contato._id)">Deleta</a>
                    </div>
                </div>
            </td>            
        </tr>
    </tbody>
</table>
</div>

<script>
	var app = new Vue({
	  el: '#pizzaria',
	  data: {
          pizzas: [],
		  titulo: 'Cardápio de Pizzas',
          usuario: '',
          random: Math.floor(Math.random() * 10)
	  },
	  methods:{
	  },
	  mounted:() => {
	  	axios.get('/usuario')
	    .then((response) => app.usuario = response.data)
        .catch((error) => console.log(error));

        axios.get('/pizzas')       
		.then((response) => app.pizzas = response.data)
		.catch((error) => console.log(error));
	 }
  })
 </script>

<% include partials/rodape %>
