<% include partials/cabecalho %>
<h1 align="center">{{ titulo }}</h1>
<div class="container">
    <div align="justify" style="margin-top: 50px; margin-bottom: 50px;">
        <h1>Pizzaria Pomodoro</h1>
        <p>A Pizzaria Pomodoro atende na cidade de Arapongas oferecendo para seus clientes uma gastronomia de qualidade incomparável.</p>
        
        <h1>Missão</h1>        
        <p> Nossa missão é proporcionar a todos que vierem a nosso estabelecimento, momentos de muita descontração e satisfação atendendo com máxima eficiência por que somos conscientes de que além da descontração, temos a responsabilidade de não deixar nossos clientes esperando por muito tempo.
            Para aqueles que solicitam nosso serviço por telefone também procuramos atender sempre rapidamente para que nossa entrega chegue quentinha e pronta para o consumo.
        </p>
        
        <h1>Visão</h1>
        <p>Estar sempre entre as melhores pizzarias de Arapongas e região e ser uma marca respeitada não só pela qualidade de nossos produtos mas também pela qualidade do atendimento.</p>
        
        <h1>Valores</h1>
        <ul>
        <li>Clientes satisfeitos.</li>
        <li>Responsabilidade social.</li>
        <li>Respeito aos nosso clientes.</li>    
        </ul>                        
        Entre em contato, venha provar um delicioso almoço ou uma pizza saborosa feita no forno a  lenha, estaremos satisfeitos em atende-los.</li>        
    </div>
</div>

<script>
	var app = new Vue({
	  el: '#pizzaria',
	  data: {
		  titulo: 'Informações sobre nossa pizzaria',
          usuario: '',
          //random: Math.floor(Math.random() * 10)
	  },
	  methods:{
	  },
	  mounted:() => {
	  	axios.get('/usuario')
		.then((response) => app.usuario = response.data)
		.catch((error) => console.log(error));
	 }
  })
 </script>

<% include partials/rodape %>
